---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="Brief details about me."
	pubDate={new Date('2023-10-14')}
	heroImage="/aerox_155s.jpg"
>
  <h2>Hi there 👋, I'm Billy!</h2>
  <p>
    I'm a computer programmer; I contribute to open-source software projects;
    currently I'm a full-time Software Engineer at
    <a href="https://goodfrontend.dev">goodfrontend.dev</a>; aside from web
    development and cloud computing, I am enthusiastic about machine learning and
    cybersecurity. Occassionally, I tinker with IoT devices at home.
  </p>
</Layout>
